@import '../../../stylesheets/utils.less';

#content {
  display: flex;
  position: relative;
  color: @txt-white;
  width: 100%;
  .about {
    #unrhythmic-txt {
      mix-blend-mode: normal;
      color: @txt-white;
      font-size: 9em;
      font-weight: bold;
      margin: 30px auto 0 auto;
      text-align: center;
    }
    .txt {
      color: @txt-white;
      text-align: justify;
      font-size: @txt-size-main;
      line-height: @txt-size-main;
    }
    .bold {
      font-weight: bold;
    }
  }
}

@media (max-width: 575.98px) {
  #content{
    .about{
      #unrhythmic-txt {
        font-size: @txt-size-medium;
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  #content{
    .about{
      #unrhythmic-txt {
        font-size: @txt-size-big;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  #content{
    .about{
      #unrhythmic-txt {
        font-size: @txt-size-medium-big;
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  #content{
    .about{
      #unrhythmic-txt {
        mix-blend-mode: normal !important ;
        color: white !important ;
        font-weight: bold !important ;
        margin: 30px auto 0 auto !important ;
        text-align: center !important ;
        font-size: 5em;
      }
    }
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  #content{
    .about{
      #unrhythmic-txt {
        font-size: 6em;
      }
    }
  }
}

@media (min-width: 1400.98px) and (max-width: 1800px) {
  #content{
    .about{
      #unrhythmic-txt {
        font-size: 7em;
      }
    }
  }
}

