@import '../../../stylesheets/utils.less';

#ticket-link{
  border: 0;
}

#golden-ticket-mobile{
  width: 100%;
}
#golden-ticket{
  width: 100%;
  max-width: 600px;
  transition: 0.5s ease-in-out;
  &:hover{
    transition: 0.5s ease-in-out;
    transform: scale(1.05);
  }
}

@media (min-width: 250px) and (max-width: 575.98px) {
  #golden-ticket-mobile{
    display: inline-block;
  }
  #golden-ticket{
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  #golden-ticket-mobile{
    display: inline-block;
  }

  #golden-ticket{
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  #golden-ticket-mobile{
    display: none;
  }
  #golden-ticket{
    display: inline-block;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  #golden-ticket-mobile{
    display: none;
  }
  #golden-ticket{
    display: inline-block;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  #golden-ticket-mobile{
    display: none;
  }
  #golden-ticket{
    display: inline-block;
  }
}

@media (min-width: 1400.98px) {
  #golden-ticket-mobile{
    display: none;
  }
  #golden-ticket{
    display: inline-block;
  }
}

