@import '../stylesheets/utils.less';

#container{
  position: relative;
  width: 100%;
  height:100%;
  min-height: 100vh; /* fix the footer, if absolute to relative container, it will always be pushed under the page */
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container__div{
  width: 100%;
}

#container__top {
  display: flex;
  min-height: 100vh; /* fix the footer, if absolute to relative container, it will always be pushed under the page */
  .logo {
    position: absolute;
    left: 54px;
    top: 16px;
    z-index: 3;
    a {
      display: inline-block;
      background: none;
      text-decoration: none;
      border-bottom: 0;
      &:hover{
        border: none;
        background: none;
      }
    }
    img {
      display: block;
      z-index: 3;
      width: 150px;
      opacity: 0.85;
      margin: 0 20px;
      // -webkit-animation: rotating 5s linear infinite;
      // -moz-animation: rotating 5s linear infinite;
      // -ms-animation: rotating 5s linear infinite;
      // -o-animation: rotating 5s linear infinite;
      // animation: rotating 5s linear infinite;
    }
    // @-webkit-keyframes rotating /* Safari and Chrome */ {
    //   from {
    //     -webkit-transform: rotate(0deg);
    //     -o-transform: rotate(0deg);
    //     transform: rotate(0deg);
    //   }
    //   to {
    //     -webkit-transform: rotate(360deg);
    //     -o-transform: rotate(360deg);
    //     transform: rotate(360deg);
    //   }
    // }

    // @keyframes rotating {
    //   from {
    //     -ms-transform: rotate(0deg);
    //     -moz-transform: rotate(0deg);
    //     -webkit-transform: rotate(0deg);
    //     -o-transform: rotate(0deg);
    //     transform: rotate(0deg);
    //   }
    //   to {
    //     -ms-transform: rotate(360deg);
    //     -moz-transform: rotate(360deg);
    //     -webkit-transform: rotate(360deg);
    //     -o-transform: rotate(360deg);
    //     transform: rotate(360deg);
    //   }
    // }
  }
}

#container__bottom{
  display: block;
  -webkit-box-shadow: -19px 1px 20px 8px rgba(0,0,0,0.2);
  -moz-box-shadow: -19px 1px 20px 8px rgba(0,0,0,0.2);
  box-shadow: -19px 1px 20px 8px rgba(0,0,0,0.2);
}

#content {
  display: flex;
  position: relative;
  color: @txt-white;
  width: 100%;
  #content-title{
    margin: -34px 0;
    width: 60px;
    position: absolute;
    left: 264px;
    #title{
      position: relative;
      top: 150px;
      left: 14px;
      margin: 0;
      mix-blend-mode: color-burn;
      text-transform: uppercase;
      color: @txt-title-blue;
      font-size: @txt-size-super-big;
      font-weight: bold;
      line-height: 1;
      text-align: left;
      webkit-transform: rotate(90deg) perspective(1px);
      transform: rotate(90deg) perspective(1px);
      white-space: nowrap;
      word-spacing: .5rem;
    }
  }

  #content-top {
    min-height: 80vh;
    display: inline-block;
    width: 69%;
    margin: 0 170px 100px auto;
    &__div {
      margin: 0 auto;
    }
  }
  #content-bottom{
    float: left;
    width: 100%;
  }

  .content-list{
    background-color: @color-background-article-even;
    padding: 10px;
    margin: 15px;
    overflow: hidden;
    .h3, .h2 {
      margin: 10px;
      text-align: left;
      float:left;
    }
    .txt-right{
      text-align: left;
      clear:both;
      font-size: @txt-size-a;
    }
    .user__name {
      width: 60%;
      float: left;
      text-align: left;
      font-size: 20px;
      padding: 25px 0 20px 25px;
    }
    .user .management-buttons{
      width: 35%;
    }
  }

  #content-top--no-title
  {
    margin: 0px auto;
    width: 57%;
    vertical-align: top;
    display: inline-block;
    min-height: 90vh;
  }

  .content-bottom__article--even,
  .content-bottom__article--odd,
  .content-background-top,
  .content-top__div,
  .content-top__article,
  .content-full{
    .p{
      clear:both;
      font-size: @txt-size-main;
      line-height: 30px;
      text-align: left;
    }
    .ul .p{
      font-size: @txt-size-small;
    }
    .h3, .h2 {
      float: left;
      margin: 42px 0;
      text-align: left;
    }
    .h4{
      font-size: @txt-size-h4;
    }
    .h3{
      font-size: @txt-size-h3;
    }
    .h2{
      font-size: @txt-size-h2;
    }
    .txt-right{
      width: 25%;
      float: right;
      font-size: @txt-size-main;
    }
  }

  .content-bottom__article--even,
  .content-bottom__article--odd,
  .content-background-top,
  .content-top-list{
    margin: 30px auto 0 0;
    .article {
      width: 100%;
      text-align: right;
      color: @txt-white;
    }
    iframe{
      z-index: 3;
      width: 100%;
      height: 350px;
      margin-top: 10px;
    }
    .h2{
      font-size: @txt-size-h2;
      width: 100%;
      margin: 5px 0;
    }
    .h3{
      font-size: @txt-size-h3;

    }
    .h4{
      font-size: @txt-size-h4;
    }
    .h5{
      font-size: @txt-size-h5;
    }
    .h3,.h4,.h5{
      text-align: left;
      width: 100%;
      line-height: 1.55em;
      margin: 5px 0;
    }
    .p{
      margin: 5px 0;
      iframe{
      }
    }
  }

  .content-background-top,
  .content-top-list {
    background-color: @color-background-top;
    padding: 40px 120px 60px 120px;
  }

  .content-bottom__article--even,
  .content-bottom__article--odd {
    .article {
      margin: 100px  auto;
      color: @txt-white;
      .txt-right{
        text-align: right;
      }
      iframe{
        width: 100%;
        height: 300px;
      }
    }
    .form__button{
      &:hover{
        background-color: @color-background-article-even;
        border-radius: 5px;
        padding: 15px 55px;
        color: @txt-white;
      }
    }
  }

  // background top and bottom images
  .content-background-top .content-background-bottom__image{
    width: 400px;
    margin: 30px auto 10px auto;
    display: flex;
  }

  .content-background-top__image{
    width: 100%;
    margin: 20px auto;
  }

  .content-background-bottom__image{
    width: 600px;
    margin: 50px auto 10px auto;
    display: flex;
  }

  // content articles
  .content-bottom__article--odd {
    .article {
      color: @txt-dark-blue;
    }
  }
}

.content-bottom__article--even {
  display:flex;
  color: @txt-white;
  .article{
    background-color: @color-background-top;
    padding: 50px 100px;
  }
}

.content-bottom__article--odd {
  display:flex;
  .article{
    background-color: @color-background-top;
    padding: 50px 100px;
  }
}

.last{
  padding-bottom: 100px;
}

.cursor__content {
  position:relative;
}

// quill editor
.quill {
  margin: 5em auto;
  background-color: white;
  opacity: 0.9;
  color: @txt-dark-blue;
  text-align: center;
}

// scrollable areas and scrollbar
.scrollable{
  height: 70vh;
  overflow: overlay;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
  background-color: @menu-background-color;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: @txt-less-dark;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: @menu-background-color;
}

//////////////////////// RESPONSIVE ////////////////////////////

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {

  #container{
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #content #header{
    float: none;
    height: inherit;
    -webkit-box-shadow: 0 0 0 0;
    -moz-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
    #menu__top__login {
      top: 30px !important;
      display: none;
      float: none;
      ul .menu__top__item {
        float: none;
        margin-top: 0px !important;
      }
    }
    #menu{
      width: 100%;
      text-align: center;
      position: absolute;
      right: 0px;
      top: -494px;
      -webkit-transition: all 0.1s ease-in-out;
      -moz-transition: all 0.1s ease-in-out;
      -ms-transition: all 0.1s ease-in-out;
      -o-transition: all 0.1s ease-in-out;
      transition: all 0.1s ease-in-out;
      background-image: linear-gradient(to right, rgba(50, 50, 50, 0.8), #323232);
      #showMenuAction i {
        cursor: pointer;
        margin: 20px;
        float: left;
      }
    }
    .menu__item a{
      padding: 0.7em 2em;
      width: 30%;
      background-color: @menu-background-mobile-color;
    }

    #menu.visible{
      top: @menu-device-position-top-visible;
    }

    #menu ul li{
      display: flex;
      font-size: @txt-size-menu-tablet;
      margin: 10px 0;
    }

    #header__logo {
      margin: 7em 0 0 0;
    }

    #header__logo {
      width: 100%;
      img{
        width: 200px;
      }
    }

  }
  // #header #menu__top__login {
  //   z-index: 7;
  //   ul .menu__top__item a{
  //     color: @txt-white !important;
  //     padding: 20px 10px 20px 30px !important;
  //     font-size: @txt-size-medium !important;
  //   }
  //   .no-section{
  //     margin-top: 25px !important;
  //   }
  // }

  #content .content-bottom__article--even .txt-right,
  #content .content-background-top .txt-right,
  #content .content-top-list .txt-right{
    width: 50%;
  }

  #content #content-title{
    margin: 30px auto 40px auto;
    text-align: center;
    width: auto;
    position: relative;
    left: 0;
  }

  #content #content-title #title{
    webkit-transform: rotate(0deg) perspective(1px);
    transform: rotate(0deg) perspective(1px);
    margin: 0;
    color: @txt-dark-blue;
    padding: 0;
    font-size: @txt-size-big;
    position: initial;
    mix-blend-mode: color-burn;
    text-align: center;
  }

  #content #content-top--no-title {
    margin: 10px auto 100px auto;
    width: 85%;
  }

  #content #content-top__div {
    margin: 0 auto;
  }

  #content .content-background-top {
    margin:  50px auto 100px auto;
  }

  #content #content-top {
    clear: both;
    float: none;
    width: 95%;
    margin: 100px auto;
  }

  #content .content-background-top, #content .content-top-list{
    padding: 50px 20px;
  }

  #content .content-bottom__article--even .article,
  #content .content-bottom__article--odd .article {
    width: 87%;
    margin: 50px auto 100px auto;
    color: white;
    padding: 50px 20px;
  }

  #content .content-background-bottom__image {
    width: 50%;
    float: left;
    margin: 20px 20px 20px 0;
  }

  #content .form__input {
    width: 90%;
    margin: 40px 15px;
  }

  #content .form__input input {
    height: 55px;
  }

  #content .content-top-list {
    margin: 150px auto 100px auto ;
  }

  #content #header #menu ul li.menu__item.admin{
    display: none;
  }
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {

  #container{
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .container__div{
    min-height: 100vh;
  }

  #content #header{
    float: none;
    height: inherit;
    -webkit-box-shadow: 0 0 0 0;
    -moz-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
    #menu__top__login {
      top: 30px !important;
      display: none;
      float: none;
      ul .menu__top__item {
        float: none;
        margin-top: 0px !important;
      }
    }
    #menu{
      width: 100%;
      text-align: center;
      position: absolute;
      right: 0;
      top: -488px;
      -webkit-transition: all 0.1s ease-in-out;
      -moz-transition: all 0.1s ease-in-out;
      -ms-transition: all 0.1s ease-in-out;
      -o-transition: all 0.1s ease-in-out;
      transition: all 0.1s ease-in-out;
      background-image: linear-gradient(to right, rgba(50, 50, 50, 0.8), #323232);
      #showMenuAction i {
        font-size: 4em;
        cursor: pointer;
        margin: 20px;
        float: left;
      }
    }

    #menu.visible{
      top: @menu-device-position-top-visible;
    }

    #menu ul li{
      display: flex;
      font-size: @txt-size-menu-tablet;
      margin: 10px 0;
    }

    #header__logo {
      margin: 7em 0 0 0;
    }

    #header__logo {
      width: 100%;
      img{
        width: 200px;
      }
    }
    .menu__item a{
      padding: 0.7em 2em;
      width: 20%;
      background-color: @menu-background-mobile-color;
    }
  }

  #header #menu__top__login {
    z-index: 7;
    ul .menu__top__item a{
      color: @txt-white !important;
      padding: 20px 10px 20px 30px !important;
      font-size: @txt-size-medium !important;
    }
    .no-section{
      margin-top: 25px !important;
    }
  }
  #content #content-title{
    margin: 30px auto 40px auto;
    text-align: center;
    width: auto;
    position: relative;
    left: 0;
  }

  #content #content-top--no-title {
    margin: 10px auto 100px auto;
    width: 75%;
  }

  #content #content-title #title{
    webkit-transform: rotate(0deg) perspective(1px);
    transform: rotate(0deg) perspective(1px);
    margin: 0;
    color: @txt-dark-blue;
    padding: 0;
    font-size: @txt-size-medium-big;
    position: initial;
    mix-blend-mode: color-burn;
    text-align: center;
  }

  #content #content-top__div {
    margin: 0 auto;
  }

  #content .content-background-top {
    margin:  70px auto 100px auto;
  }

  #content #content-top {
    clear: both;
    float: none;
    width: 95%;
    margin: 100px auto;
  }

  #content .content-bottom__article--even .article,
  #content .content-bottom__article--odd .article {
    width: 70%;
    margin: 80px auto;
    color: white;
  }

  #content .content-background-bottom__image {
    width: 50%;
    float: left;
    margin: 20px 20px 20px 0;
  }

  #content .form__input {
    width: 90%;
  }

  #content .form__input input {
    height: 50px;
  }

  #content .content-top-list {
    margin: 150px auto 100px auto ;
  }

  #content .content-background-top, #content .content-top-list{
    padding: 50px 20px;
  }

  .menu__item a{
    padding: 0.7em 2em;
    width: 30%;
  }

  #content #header #menu ul li.menu__item.admin{
    display: none;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {

  #container{
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #content #header{
    float: none;
    height: inherit;
    -webkit-box-shadow: 0 0 0 0;
    -moz-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
    #menu__top__login {
      top: 30px !important;
      display: none;
      float: none;
      ul .menu__top__item {
        float: none;
        margin-top: 0px !important;
      }
    }
    #menu{
      width: 100%;
      text-align: center;
      position: absolute;
      right: 0px;
      top: -475px;
      -webkit-transition: all 0.1s ease-in-out;
      -moz-transition: all 0.1s ease-in-out;
      -ms-transition: all 0.1s ease-in-out;
      -o-transition: all 0.1s ease-in-out;
      transition: all 0.1s ease-in-out;
      background-image: linear-gradient(to right, rgba(50, 50, 50, 0.8), #323232);
      #showMenuAction i{
        font-size: 4em;
        cursor: pointer;
        float: left;
        margin: 20px 10px 10px 10px;
      }
    }
    #menu.menu-admin{
      top: -549px;
    }


    #menu.visible{
      top: @menu-device-position-top-visible;
    }

    #menu ul li{
      display: flex;
      font-size: @txt-size-menu-tablet;
      margin: 10px 0;
    }

    #header__logo {
      margin: 7em 0 0 0;
    }

    #header__logo img{
      width: 250px;
    }

    .menu__item a{
      padding: 0.7em 2em;
      width: 30%;
      background-color: @menu-background-mobile-color;
    }

    #content #header #menu ul li.menu__item.admin{
      display: none;
    }

    #social-buttons {
      margin-bottom: 20px;
    }

  }

  #header #menu__top__login {
    z-index: 7;
    ul .menu__top__item a{
      color: @txt-white !important;
      padding: 20px 10px 20px 30px !important;
      font-size: @txt-size-medium !important;
    }
    .no-section{
      margin-top: 25px !important;
    }
  }

  #content #content-title{
    margin: 30px auto 40px auto;
    text-align: center;
    width: auto;
    position: relative;
    left: 0;
  }

  #content #content-title #title{
    webkit-transform: rotate(0deg) perspective(1px);
    transform: rotate(0deg) perspective(1px);
    margin: 0;
    color: @txt-dark-blue;
    padding: 0;
    font-size: @txt-size-medium-big;
    position: initial;
    mix-blend-mode: color-burn;
    text-align: center;
  }

  #content #content-top__div {
    margin: 0 auto;
  }

  #content .content-background-top {
    margin:  60px auto 100px auto;
  }

  #content .content-background-top, #content .content-top-list{
    padding: 50px 40px;
  }

  #content {
    #content-top {
      min-height: 50vh;
      clear: both;
      float: none;
      width: 85%;
      margin: 150px auto;
    }
    #content-top--no-title
    {
      margin: 150px auto 50px auto;
      width: 75%;
    }
  }


  #content .content-bottom__article--even .article,
  #content .content-bottom__article--odd .article {
    width: 70%;
    margin: 80px auto;
    color: white;
  }

  #content .content-background-bottom__image {
    width: 50%;
    float: left;
    margin: 20px 20px 20px 0;
  }

  #content .form__input {
    width: 80%;
    margin: 55px auto;
    input{
      height: 55px;
    }
  }
  #content .content-top-list {
    margin: 150px auto 100px auto ;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
  #container {
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* remove this to see old side menu */
  #content #header #menu ul {
    display: none;
  }

  #content .content-top-list {
    margin: 50px auto 0 auto;
  }

  #content #content-title{
    margin: 45px 0 10px 0;
    display: inline-block;
  }

  #content #content-title #title{
    webkit-transform: rotate(0deg) perspective(1px);
    transform: rotate(0deg) perspective(1px);
    margin: 50px 0 0 0;
    color: @txt-dark-blue;
    padding: 0;
    font-size: @txt-size-medium-big;
    position: initial;
    mix-blend-mode: color-burn;
    text-align: center;
  }

  #content #content-top {
    width: 62%;
  }

  #content .content-top-list {
    padding: 50px 60px;
    margin: 0 auto;
  }

  #content .content-background-top {
    margin: 30px auto 40px auto;
  }

  #content #content-top__div {
    margin: auto auto 10vh auto;
  }

  #content .content-background-top .p {
    font-size: @txt-size-main;
    font-weight: normal;
  }

  #content .form__input {
    width: 80%;
  }

  #content .content-background-bottom__image {
    width: 50%;
    float: left;
    margin: 20px 20px 20px 0;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  #container {
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #content #content-top {
    width: 56%;
  }
}

@media (min-width: 1400.98px) and (max-width: 1800px) {
  #container {
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #content {
    #content-top {
      width: 60%;
    }
    .content-bottom__article--even, .content-bottom__article--odd {
      .article {
        width: 50%;
      }
    }
  }
}

@media (min-width: 1800.98px) and (max-width: 2200px) {
  #container {
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #content #content-top {
    width: 50%;
  }

  #content{
    #about{
      article{
        padding: 150px 30%;
        #unrhythmic-txt {
          font-size: 10em;
        }
      }
    }
    .content-bottom__article--even, .content-bottom__article--odd {
      .article {
        width: 40%;
      }
    }
  }
}

@media (min-width: 2200.98px) {
  #container {
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #content #content-top {
    width: 40%;
  }

  #content{
    #about{
      article{
        padding: 150px 30%;
        #unrhythmic-txt {
          mix-blend-mode: normal;
          color: white;
          font-size: 11em;
        }
      }
    }
    .content-bottom__article--even, .content-bottom__article--odd {
      .article {
        width: 30%;
      }
    }
  }
}
