@import "../imports/ui/stylesheets/not-found.less";
@import "../imports/ui/stylesheets/utils.less";

@font-face {
  font-family: "VisionRegular";
  src: url('/font/gt-america-bold-webfont.woff') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
}

html {
  font-size: 100%;
  height: 100%;
}

body{
  font-family: "VisionRegular", Arial, sans-serif;
  font-size: .8em;
  width: 100%;
  height:100%;
  text-align: center;
  background-size: cover;
  background: @bg-color;
  background-image: url(img/background/grid.svg);

  #app{
    height:100%;
    position: relative;
    min-height: 100vh;
  }
}

a{
  font-size:@txt-size-a;
  color: @link;
  font-weight: bold;
  line-height: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid @txt-white;
  text-decoration: none;
}
