@import "../../../stylesheets/utils.less";

.form__button,
.redirect__button{
  display: flex;
  margin: 40px auto;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-radius: 2px;
  padding: 15px 70px;
  background-color: @color-background-article-even;
  &:hover{
    background-color: @txt-dark-blue;
    color: @txt-white;
  }
}

.read-next__a,
.redirect__button{
  background-color: @menu-background-color;
  &:hover {
    background-color: @button-background-color;
    color: @txt-white;
  }
}

#content .content-bottom__article--even .redirect__button,
#content .content-bottom__article--even .read-next__a{
  background-color: @menu-background-color;
  &:hover {
    color: @txt-white;
    background-color: @button-background-color;
  }
}

.read-next__button{
  padding: 0;
  display: flex;
  margin: 40px auto 0 auto;
  border-radius: 5px;
}

.read-next__a{
  border: 0;
  font-size: @txt-size-small;
  padding: 15px 70px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
  &:hover{
    border-radius: 5px;
    padding: 15px 70px;
  }
}


// Special management-buttons

.management-buttons{
  float: right;
  width: 50%;
  .management-button{
    background-color: @menu-background-color;
    cursor: pointer;
    float:right;
    margin: 10px;
    &:hover{
      background-color: @button-background-color;
      color: @txt-dark-blue;
    }
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .form__button,
  .redirect__button,
  .read-next__a {
    padding: 15px 40px;
    font-weight: bold;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .form__button,
  .redirect__button,
  .read-next__a {
    padding: 15px 40px;
  }
}
