@import "../../../stylesheets/utils.less";

.error--active{
  background-color: @color-error;
  border-radius: 3px;
  color: @txt-white;
  font-size: @txt-size-main;
  margin: 10px auto;
  padding: 20px;
  -webkit-box-shadow: 9px 11px 53px -6px rgba(0,0,0,0.5);
  -moz-box-shadow: 9px 11px 53px -6px rgba(0,0,0,0.5);
  box-shadow: 9px 11px 53px -6px rgba(0,0,0,0.5);
}

.form__error{
  width: 0px;
  .arrow{
    opacity: 0;
  }
}

.form__error--active{
  margin: 10px 0 0 0;
  color: @txt-white;
  font-size: @txt-size-main;
  padding: 5px 10px;
  background-color: @color-error;
  position: relative;
  .arrow{
    position: absolute;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-color: transparent;
    top: -18px;
    left: 30px;
    margin-left: -5px;
    border-width: 9px 9px;
    border-top-color: #e23636;
    webkit-transform: rotate(180deg) perspective(1px);
    transform: rotate(180deg) perspective(1px);
  }
}
