@import "../../../stylesheets/utils.less";

.form__input{
  color: @txt-white;
  width: 60%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  label{
    font-size: @txt-size-main;
    text-align: left;
    width: 100%;
    display: flex;
    margin: 0 0 10px 0;
  }
  input{
    border: 1px solid black;
    font-size: @txt-size-main;
    width: 100%;
    height: 40px;
    border-radius: 2px;
    padding-left: 15px;
  }
}


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {

}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  .form__input label{
    font-size: @txt-size-fb;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {

}

@media (min-width: 1200px) and (max-width: 1400px) {

}
