@import "../../../stylesheets/utils.less";

#login{
    cursor:pointer;
    float:left;
    width: 100%;
    #login__button{
        display: flex;
        i{
            font-size: @txt-size-very-small;
            margin-left: 5px;
        }
    }
    #logout__button{
        display: flex;
        i{
            font-size: @txt-size-very-small;
            margin-left: 5px;
        }
    }
}
