@import '../../../stylesheets/text.import.less';

#facebook{
  position: relative;
  margin: 0 auto 30px auto;
}

#facebook i{
  font-size: 1.5em;
  color: white;
  float: left;
  padding-right: 13px;
}

#facebook p {
  color: white;
  font-size: @txt-size-small;
  font-weight: bold;
  line-height: 25px;
}

#facebook__button{
  clear:both;
  color: #ffffff;
  background: #4267B2;
  font-family: arial, sans-serif;
  font-size: 1.7em;
  border-radius: 4px;
  cursor: pointer;
  line-height: 32px;
  -webkit-box-shadow: 1px 6px 20px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 1px 6px 20px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 1px 6px 20px 0px rgba(0, 0, 0, 0.35);
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  #facebook p {
    color: white;
    font-size: @txt-size-main;
    line-height: 25px;
    text-align: left;
  }
}
