@import '../../../stylesheets/utils.less';

#footer {
  position: relative;
  bottom: 0;
  margin: 0 auto;
  width: 100%;
  font-size: @txt-footer-main;
  color: @footer-link;
  &__div {
    color: @footer-link;
    padding: 100px 20px;
    background-color: #1F1F1E;
    #footer__info{
      clear: both;
      margin-top: 25px;
      #un-studio {
        color:  @color-red-koki;
      }
      #privacy-policy{
        margin-top: 15px;
        a{
          color: @footer-link;
          font-size: @txt-size-small;
          &:hover{
            color: @color-red-koki;
            border: none
          }
        }
      }
      .small{
        font-size: 0.8em;
      }
    }
    #footer__partners{
      width: 30%;
      margin: 0 auto;

      span{
        font-size: @txt-size-menu;
      }
      div{
        .footer__image__container.footer__image__container__left{
          width: 45%;
        }
        .footer__image__container{
          width: 50%;
          float: left;
          margin-bottom: 40px;
          a{
            text-decoration: none;
            border: none;
          }
          .ra{
            width: 80px;
          }
          .subbacultcha{
            margin-top: 10px;
            width: 200px;
          }
        }
      }
    }
    #social-buttons {
      position: absolute;
      right: 50px;
      top: 20px;
      div {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        float: right;
        button {
          background-color: inherit;
          padding: 0;
          margin: 10px;
          a {
            padding: 0;
            border-bottom: 0;
            i {
              font-size: 0.35em;
            }
          }
          i {
            font-size: 0.5em;
          }
          &:hover i {
            color: @color-red-koki;
          }
        }
      }
    }
  }
}


@media (max-width: 575.98px) {
  #footer__div{
    padding: 50px 20px;
  }
  #footer #footer__div #footer__partners {
    width: 80%;
    .subbacultcha{
      width: 135px;
    }
    .footer__image__container__left{
      width: 42%;
    }
    .footer__image__container{
      .ra{
        width: 60px;
      }
      .subbacultcha{
        margin-top: 8px;
        width: 150px;
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  #footer__div{
    padding: 50px 20px;
  }
  #footer #footer__div #footer__partners {
    width: 55%;
    .footer__image__container__left{
      width: 45%;
      .ra{
        float: left;
      }
    }
  }
}


// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  #footer #footer__div #footer__partners {
    width: 40%;
    .footer__image__container__left{
      width: 45%;
      .ra{
        float: left;
      }
    }
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
  #footer #footer__div #footer__partners {
    width: 40%;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  #footer #footer__div #footer__partners {
    width: 30%;
    .footer__image__container__left {
      width: 45%;
    }
  }
}

@media (min-width: 1400.98px) and (max-width: 2500px) {
  #footer #footer__div #footer__partners {
    width: 27%;
    .footer__image__container__left {
      width: 45%;
    }
  }
}
