@import '../../../stylesheets/utils.less';
#header{
  #menu__top__login{
    clear: both;
    position: absolute;
    top: 8px;
    right: 15px;
    color: @txt-dark-blue;
    display: flex;
    list-style-type: none;
    ul{
      padding: 0;
      margin: 0;
      list-style-type: none;
      .menu__top__item{
        float: right;
        a {
          color: @txt-dark-blue;
          border-bottom: none;
          padding: 10px;
          font-size: 2em;
          &:hover{
            background-color: @txt-dark-blue;
            color: @txt-white;
          }
        }
        #login{
          width: auto;
        }
      }
      .small-font{
        font-size: @txt-size-very-super-mega-small;
      }
      .no-section{
        margin-top: 10px;
      }
    }
  }
}

@media (max-width: 500.98px) {
 #header #menu__top__login ul .menu__top__item a {
   font-size: 1.9em !important;
   padding: 20px 0 !important;
 }
}

