@import '../../../stylesheets/utils.less';

#menu {
  float: left;
  z-index: 2;
  margin-top: 50px;
  overflow: hidden;
  ul{
    text-align: left;
    display: flex;
    list-style-type: none;
    flex-direction: column;
    padding-left: 0;
  }
  .ticket-link a {
    color: white;
    background-color: transparent;
    padding: 10px 20px;
    &:hover,
    &:focus{
      color: @txt-white;
      background-color: @menu-background-mobile-color;
    }
  }
  #social-buttons{
    margin: auto 20px auto 40px;
    font-size: 0.8em;
    display: none;
    div {
      div {
        width: 100%;
        float: left;
        button.management-button {
          color: @txt-dark;
          background: none;
          margin: 30px 0 40px 55px;
          display: inline-block;
          a{
            padding: 0;
            text-decoration: none;
            border: none;
            display: flex;
            height: 22px;
            width: 17px;
          }
          i{
            font-size: 40px;
            position: relative;
            left: -1px;
            top: 1px;
            &:hover{
             color: @color-red-koki;
            }
          }
          .fa-paper-plane{
            left: -10px;
            color: @txt-dark;
          }
        }
      }
    }
    .square{
      width: 19px;
    }
  }
}

.menu__item {
  display: flex;
  font-size: @txt-size-menu;
  color: @link;
  border-bottom: none;
  font-weight: bold;
  margin: 5px 0;
  a {
    cursor: pointer;
    text-align: left;
    font-size: @txt-size-menu;
    text-decoration: none;
    padding: 0.5em 0.6em 0.3em 0.8em;
    display: inline-block;
    border-bottom: none;
    color: #1e1e1d;
    background-color: @color-yellow-koki;
    transition-property: color;
    transition-duration: 100ms;
    transition-delay: 0s;
    width: 40%;
    text-transform: uppercase;
    &:hover{
        background-color: @txt-white;
        color: @txt-dark-blue;
    }
  }

  button{
    background-color: transparent;
    margin: 0;
    padding: 0;
    float: left;
    font-size: @txt-size-menu;
    font-family: 'Roboto', sans-serif;
  }
}


#logo-menu{
  display: none;
  img{
    position: absolute;
    bottom: 10px;
    left: 45%;
    background-color: transparent;
    border-radius: 50%;
    z-index: 3;
    width: 95px;
    opacity: 1;
    -webkit-animation: rotating 5s linear infinite;
    -moz-animation: rotating 5s linear infinite;
    -ms-animation: rotating 5s linear infinite;
    -o-animation: rotating 5s linear infinite;
    animation: rotating 5s linear infinite;
  }
  @-webkit-keyframes rotating  {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}

#showMenuAction{
  display:none;
  i{
    font-size: @txt-size-h2;
    cursor: pointer;
    margin: 10px;
  }
}

.menu__item--mobile{
  display: none;
}

@media (max-width: 399.98px) {
  #logo-menu{
    display: none;
  }

  #showMenuAction, .menu__item--mobile{
    display:block;
  }
  #showMenuAction{
    clear: both;
    padding-top: 50px;
    overflow: hidden;
    float: right;
  }
  #menu {
    #social-buttons{
      display: block;
      width: 95%;
      div{
        div{
          width: 20%;
          float: left;
          button.management-button{
            background: none;
            margin: 20px 0 0 0;
            display: inline-block;
            color: white;
            .fa-paper-plane {
              color: white;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 400px) and (max-width: 575.98px) {

  #logo-menu{
    display: none;
  }

  #showMenuAction, .menu__item--mobile{
    display:block;
    width: 16%;
  }
  #showMenuAction{
    clear: both;
    padding-top: 50px;
    overflow: hidden;
    float: right;
  }
  #menu {
    #social-buttons{
      display: block;
      width: 95%;
      div{
        div{
          width: 20%;
          float: left;
          button.management-button{
            background: none;
            margin: 20px 0 0 0;
            display: inline-block;
            color: white;
            .fa-paper-plane {
              color: white;
            }
          }
        }
      }
    }
  }
}


@media (min-width: 576px) and (max-width: 767.98px) {

  #logo-menu{
    display: none;
  }

  #showMenuAction, .menu__item--mobile{
    display:block;
    width: 12% !important;
  }
  #showMenuAction{
    padding-top: 85px;
    margin: 50px auto 20px auto;
    float: right;
  }
  #menu {
    #social-buttons{
      display: block;
      width: 90%;
      div{
        div{
          width: 12%;
          float: left;
          button.management-button {
            background: none;
            margin: 20px 0 0 0;
            display: inline-block;
            color: white;
            .fa-paper-plane {
              color: white;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {

  #logo-menu{
    display: none;
  }
  #showMenuAction, .menu__item--mobile{
    display: inline-block;
    width: 50%;
    margin: 50px auto 0 auto;
  }
  #showMenuAction{
    padding-top: 45px;
  }
  #menu {
    #social-buttons{
      display: block;
      div{
        div{
          width: 10%;
          float: left;
          button.management-button {
            background: none;
            margin: 20px 0 0 0;
            display: inline-block;
            color: white;
            .fa-paper-plane {
              color: white;
            }
          }
        }
      }
      width: 94%;

    }
  }
}

@media (min-width: 992px)
{
  #menu{
    margin-top: 0px;
    #social-buttons {
      display: none;
    }
  }
  #content #header #menu ul {
    display: none;
  }
  
}
