@import "../../../stylesheets/utils.less";

.popup__container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(50,50,50,0.8);
}

.popup__content{
  position: relative;
  top: 300px;
  background-color: @color-background-article-even;
  overflow: hidden;
  padding: 20px 50px;
  margin: 0 auto;
  width: 400px;
  h2{
    margin: 25px 10px;
    text-align: center;
  }
  .success--active, .error--active{
    text-align: center;
    margin-bottom: 20px;
  }
  .form__button{
    margin: 10px;
    width: 155px;
    float: right;
    text-align: center;
    background-color: white;
    color: black;
    &:hover{
      background-color: black;
      color: white;
    }
  }
}
