@import '../../../stylesheets/utils.less';

#menu__top{
  color: @txt-white;
  display: flex;
  flex-direction: row-reverse;
  justify-content: right;
  list-style-type: none;
  padding-left: 0;
  margin: 0 70px;
  .menu__top__item{
    margin: 3px;
    float: right;
    a {
      color: @txt-dark;
      background: none;
      border-bottom: none;
      padding: 10px;
      font-size: @txt-size-h5;
      &:hover,
      &:focus{
        color: @color-red-koki;
      }
    }
    #login{
      width: auto;
    }
  }
  .no-section{
    margin-top: 44px;
    margin-left: 10px;
  }
}

@media (max-width: 575.98px) {
  #menu__top{
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  #menu__top{
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  #menu__top{
    display: none;
  }
}
