@import "../../../stylesheets/utils.less";

.privacy-policy{
  display: flex;
  flex-direction: column;
  align-self: center;
  color: @txt-white;
  text-align: left;
  h4{
    font-size: @txt-size-h3;
  }
  ul{
    font-size: @txt-size-main;
  }
  a{
    font-size: @txt-size-small;
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .privacy-policy a{
    font-size: 0.7em;
  }
}
