// background
@bg-background-yellow: #fdf050;
@bg-dark-blue: #1a0c5b;
@bg-white: #fdfdfd;
@bg-purple: #CA3ACF;
@bg-red: rgba(228,62,82,1);
@bg-red-transparent: rgba(228,62,82,0.6);
@bg-red-semi-transparent: rgba(228,62,82,0.9);

@bg-color: @bg-white;

// link
@link: white;
@link-hover: #de4f4f;
// footer link
@footer-link: #efefef;
@footer-txt: #efefef;

// txt colors
@txt-white: white;
@txt-red-error: #ff4f4f;
@txt-dark-blue: @bg-dark-blue;
@txt-title-blue: #0038cc;
@txt-dark: #0c0c0c;
@txt-less-dark: #4d4b4b;

@menu-background-color: @bg-white;
@menu-background-mobile-color: @bg-white;

// simple button color
@button-background-color: rgba(0, 33, 46, 0.8);
@button-background-color-hover: @color-background-article-even;
@button-color: #efefef;
@a-background-color-hover: rgba(81, 81, 81, 0.8);

// message color
@color-error: #e23636;
@color-success: #1e9d42;

@color-background-article-even: #e43a4a;
@color-background-article-odd: #C2E0EC;
@color-background-top: rgba(45,45,45,0.9);

@color-blue-koki: #bfe1ed;
@color-yellow-koki: rgba(247, 228, 12, 0.67);//#f7e40c;
@color-red-koki: #e43c4b;
