// display screen size
@display-footer: 100%;
@display-content: 50%;
@display-container-h: 100%;
@display-section: 90%;
@display-title: 65%;
@display-div: 45%;

// display in height
@display-height-header: 10vh;

// margin and padding for main elements
@margin-container: 0 auto 150px 0;
@padding-container: 20px;

@margin-section: 10px;
@padding-section: 20px;

@margin-div: 10px;
@padding-div: 20px;

@margin-form: 5px;
@padding-form: 5px;

@margin-input: 2px;
@padding-input: 5px;

// menu
@menu-device-position-top: -531px;
@menu-device-position-top-visible: -50px;
