@import "./text.import.less";

button{
  background-color: @button-background-color;
  border: none;
  color: @button-color;
  text-align: center;
  font-size: @txt-button;
  padding: 0.5em 0.65em;
  margin: 1em;
  &:hover{
    cursor: pointer;
  }
  a{
    padding: 2em;
    text-decoration: none;
  }
}
