// main size
@txt-size-main: 1.5em;
@txt-size-secondary: 1.8em;
@txt-footer-main: @txt-size-main;

// facebook button size
@txt-size-fb: 2em;

// medium big text
@txt-size-medium: 3em;

// super big text
@txt-size-big: 5em;

@txt-size-medium-big: 6em;

// supersuper big
@txt-size-super-big: 9em;

// small text
@txt-size-small: 1.2em;

// very small text
@txt-size-very-small: 1em;

// extra SMAALLLLL
@txt-size-very-super-mega-small: 0.7em;

// titles
@txt-size-h1: 3.9em;
@txt-size-h2: 2.8em;
@txt-size-h3: 2.2em;
@txt-size-h4: 1.9em;
@txt-size-h5: 1.5em;

// menu
@txt-size-menu: 1.2em;
@txt-size-menu-tablet: 1.5em;
@txt-size-menu-medium-device: 1.5em;
@txt-size-menu-small-device: 1.5em;

// text
@txt-size-a: 1.4em;

// button
@txt-button: @txt-size-secondary;
