@import "../../stylesheets/utils.less";

/* home.less */

#line-up{
  width: 80%;
  position: relative;
  display: block;

  // #logo-home {
  //   margin-left: auto;
  //   margin-right: auto;
  //   left: 0;
  //   right: 0;
  //   a{
  //     text-decoration: none;
  //     border: none;
  //   }
  //   img {
  //     border-radius: 50%;
  //     width: 100px;
  //     -webkit-animation-name: rotate;
  //     -moz-animation-name: rotate;
  //     -ms-animation-name: rotate;
  //     -o-animation-name: rotate;
  //     animation-name: rotate;
  //     -webkit-animation-duration: 15s;
  //     -moz-animation-duration: 15s;
  //     -ms-animation-duration: 15s;
  //     -o-animation-duration: 15s;
  //     animation-duration: 15s;
  //     -webkit-animation-iteration-count: infinite;
  //     -moz-animation-iteration-count: infinite;
  //     -ms-animation-iteration-count: infinite;
  //     -o-animation-iteration-count: infinite;
  //     animation-iteration-count: infinite;
  //     -webkit-animation-timing-function: linear;
  //     -moz-animation-timing-function: linear;
  //     -ms-animation-timing-function: linear;
  //     -o-animation-timing-function: linear;
  //     animation-timing-function: linear;
  //   }
  // }

  // @-webkit-keyframes rotate {
  //   from { -webkit-transform: rotate(0deg); }
  //   to { -webkit-transform: rotate(360deg); }
  // }
  // @-moz-keyframes rotate {
  //   from { -moz-transform: rotate(0deg); }
  //   to { -moz-transform: rotate(360deg); }
  // }
  // @-ms-keyframes rotate {
  //   from { -ms-transform: rotate(0deg); }
  //   to { -ms-transform: rotate(360deg); }
  // }
  // @-o-keyframes rotate {
  //   from { -o-transform: rotate(0deg); }
  //   to { -o-transform: rotate(360deg); }
  // }
  // @keyframes rotate {
  //   from { transform: rotate(0deg); }
  //   to { transform: rotate(360deg); }
  // }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  #unrhythmic-txt{
    font-size: 4em;
  }
  #content {
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  #unrhythmic-txt{
    font-size: 5.5em;
  }
  #content {
  
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  #unrhythmic-txt{
    font-size: 6em;
  }
  .txt{
    font-size: @txt-size-secondary;
  }
  #content {
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
  #unrhythmic-txt{
    font-size: 7.5em;
  }
  #content {

  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  #unrhythmic-txt{
    font-size: 9em;
  }
  #content {
  }
}

@media (min-width: 1401px) and (max-width: 2500px) {
  #unrhythmic-txt{
    font-size: 9em;
  }
  #content {
  }
}

