@import "../../../stylesheets/utils.less";

#not-found{
  width: 100%;
  color: @txt-white;
  h1{
    font-size: @txt-size-h1;
  }
  h2{
    font-size: @txt-size-h2;
  }
  h3{
    font-size: @txt-size-h3;
  }
  #not-found__content{
    background-color: rgba(35,35,35,0.2);
    margin: 20px;
    padding: 20px;
  }
}
