@import "../../../../stylesheets/utils.less";

#admin-list{
  text-align: left;
  clear: both;
  li{
    margin-top: 20px;
    list-style-type: none;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    p{
      width: 100%;
      font-size: @txt-size-main;
    }
    a{
      background-color: @button-background-color;
      text-decoration: none;
      border: none;
      width: 60%;
      padding: 10px 20px;
      text-align: center;
      cursor: pointer;
      &:hover {
        color: @txt-dark-blue;
        background-color: @button-background-color-hover;
      }
    }
  }
}

.back__home{
  width: 20%;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border: none;
  display: flex;
  flex-direction: column;
  margin: 40px auto;
  text-transform: uppercase;
  background-color: @button-background-color;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 2px;
  padding: 15px 70px;
  &:hover{
    background-color: @button-background-color-hover;
    border-radius: 5px;
    padding: 15px 55px;
    color: @txt-dark-blue;
  }
}
